form#encrypt-form{
    border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
}

#encrypt-region{
    padding: var(--padding-md);
    flex: calc(200% / 3);
}

textarea#encrypt{
    height: calc(80vh - 5.3125rem);
}

.btn:hover{
    cursor: pointer;
    font-size: 0.85rem;
    color: var(--color-7);
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: var(--color-2);
    width: 0%;
    transition: width 500ms ease-in-out;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    -ms-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
}

.btn:hover::before{
    width: 100%;
}

.btn.contrast:hover{
    color: var(--color-2);
}

.btn.contrast::before{
    background-color: var(--color-7);
    transition: width 500ms ease-in-out;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    -ms-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
}

.btn.contrast:hover::before{
    width: 100%;
}

#copy-region{
    flex: calc(100% / 3);
    border-radius: 1.25rem;
    border: 0.1rem solid var(--color-8);
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
}

section#copy-info{
    height: 80vh;
}

h2#copy-title{
    margin: 1rem 0 0.5rem 0;
}

img#lookingFor{
    width: 80%;
    filter: sepia(100%) var(--diamond-filter);
    -webkit-filter: sepia(100%) var(--diamond-filter);
}