:root{
    --color-1: #E2F1AF;
    --color-2: #CCD79D;
    --color-3: #B6BD8B;
    --color-4: #A0A379; 
    --color-5: #8A8967;
    --color-6: #746F55;
    --color-7: #5E5543;
    --color-8: #483B31;
    --color-9: #31231E;
    --alura-filter: brightness(0) saturate(100%) invert(9%) sepia(8%) saturate(3194%) hue-rotate(330deg) brightness(93%) contrast(85%);
    --social-media-filter: brightness(0) saturate(100%) invert(94%) sepia(27%) saturate(423%) hue-rotate(14deg) brightness(99%) contrast(92%);
    --diamond-filter: brightness(70%);
}